/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

/* Estilos para los productos */
article {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

article img {
    max-width: 100%;
}

/* Estilos para el formulario */
form label, form textarea, form input {
    display: block;
    margin-bottom: 10px;
}

form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 10px;
}
/* Estilos para el formulario */
